.P1{
  font-size: 20px;
}
.H1{
  font-size: 50px;
  padding-top: 100px;
}
.container{
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
.img-thumbnail{
  padding-left: -50px;
  width: 580px;
  height: 570px;
}

.img-thumbnail1{
  padding-left: -100px;
  width: 290px;
  height: 570px;
}

.H2{
  padding-left: 100px;
}
.H3{
  padding-left: 50px;
}
.Team{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #EEFFFF;
}
.card img{
  width: 100%;
  height: 30%;
}
.card-body{
  background-color: #E0FFFF;
}
.col-card{
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  width: 25%;
}
.row row-cols-1 row-cols-md-3 g-5{
  display: flex;
  justify-content: center;
}
.Job-Title{
  color: green;
}




